.sidenav-container {
  height: 100%;
  flex-direction: row;
}

mat-sidenav, mat-sidenav-content {
  padding: 16px;
}

mat-sidenav {
  color: var(--red-txt);
  background-color: var(--red-bg-toolbar);
  width: auto;
}

mat-sidenav-content {
  width: 100vh;
}
